HBox {
    -fx-background-color: #121212;
}

.left-side {
    -fx-border-color: #3d3d3d;
    -fx-border-width: 0 1 0 0;
}

.combo-box {
    -fx-background-color: #121212;
    -fx-background-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-radius: 16;
    -fx-border-width: 1;
    -fx-padding: 0 23;

}

.combo-box:selected {
    -fx-background-color: #242424;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 152, 88, 1), rgba(250, 113, 113, 1));
}

.pop-up-box {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-width: 1;
    -fx-background-color: #242424;
}

.sections-button {
    -fx-background-color: #242424;
    -fx-text-fill: white;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-padding: 0 3;
}

.sections-button:hover {
    -fx-background-color: #1c1c1c;
}

.sections-button:selected {
    -fx-background-color: #121212;
}

.sections-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-shape: none;
    visibility: hidden;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.sections-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    visibility: hidden;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #242424;
    -fx-padding: 11 12;
}

.combo-box .list-view:vertical .virtual-flow {
    -fx-padding: 100;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #121212;
}

.combo-box .arrow {
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-color: #191919;
}

.object-button {
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-label-padding: 0 24;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
}

.object-button:hover {
    -fx-background-color: #191919;
}

.object-button:selected {
    -fx-background-color: #FF9858;
    -fx-text-fill: black;
}

.object-button .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-shape: none;
    visibility: hidden;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.object-button .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    visibility: hidden;
}