HBox {
    -fx-background-color: #121212;
}

.left-side {
    -fx-border-color: #3d3d3d;
    -fx-border-width: 0 1 0 0;
}

.combo-box {
    -fx-background-color: #121212;
    -fx-background-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-radius: 16;
    -fx-border-width: 1;
    -fx-padding: 0 11;
}

.combo-box:showing {
    -fx-background-color: #242424;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 152, 88, 1), rgba(250, 113, 113, 1));
}

.combo-box .list-view {
    -fx-border-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-width: 1;
    -fx-background-radius: 16;
    -fx-background-color: #242424;
    -fx-padding: 7 11 6 11;
}

.combo-box .list-cell {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-min-height: 40;
    -fx-padding: 0 12;
    -fx-background-insets: 4 0;
}

.combo-box .list-view .list-cell {
    -fx-background-color: #242424;
    -fx-padding: 11 12;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #121212;
}

.combo-box .arrow {
    -fx-background-color: transparent;
}

.combo-box:hover {
    -fx-background-color: #191919;
}