.root {
    -fx-background-color: #121212;
}

.left-side {
    -fx-border-color: #3d3d3d;
    -fx-border-width: 0 1 0 0;
}

.combo-box {
    -fx-background-color: #121212;
    -fx-background-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-radius: 16;
    -fx-border-width: 1;
    -fx-padding: 0 23;

}

.combo-box:selected {
    -fx-background-color: #242424;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 0%, rgba(255, 152, 88, 1), rgba(250, 113, 113, 1));
}

.pop-up-box {
    -fx-border-radius: 16;
    -fx-background-radius: 16;
    -fx-border-color: #3d3d3d;
    -fx-border-width: 1;
    -fx-background-color: #242424;
}

.sections-button {
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #242424;
    -fx-text-fill: white;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-padding: 0 3;
}

.sections-button:hover {
    -fx-background-color: #1c1c1c;
}

.sections-button:selected {
    -fx-background-color: #121212;
}

.radio-button-things .radio {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
    -fx-shape: none;
    visibility: hidden;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-max-width: 0;
    -fx-max-height: 0;
}

.radio-button-things .dot {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    visibility: hidden;
}

.combo-box:hover {
    -fx-background-color: #191919;
}

.option-button {
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
}

.object-button {
    -fx-min-height: 40px;
    -fx-max-height: 40px;
    -fx-background-color: #121212;
    -fx-text-fill: white;
    -fx-label-padding: 0 24;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
}

.object-button:hover {
    -fx-background-color: #191919;
}

.object-button:selected {
    -fx-background-color: #FF9858;
    -fx-text-fill: black;
}

.HSeparator {
    -fx-background-color: #3D3D3D;
}

.substract {
    -fx-background-color: #ff9858;
    -fx-background-radius: 100 100 0 0;
    -fx-border-radius: 100 100 0 0;
}

.tableD {
    -fx-background-color: #121212;
}

.tableD .column-header {
    -fx-background-color: #242424;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-size: 16;
    -fx-pref-height: 40;
    -fx-font-family: "Futura Cyrillic Book";
}

.tableD .column-header-background {
    -fx-background-radius: 8 8 0 0;
    -fx-background-color: #242424;
}

.tableD .column-header-background .label {
    -fx-text-fill: #888888;
    -fx-alignment: CENTER_LEFT;
}

.tableD .table-cell {
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-label-padding: 10;
    -fx-font-size: 16;
    -fx-font-family: "Futura Cyrillic Book";
}

.tableD .table-row-cell {
    -fx-background-color: transparent;
    -fx-pref-height: 56;
}

.tableD .table-row-cell:filled {
    -fx-border-color: #3D3D3D;
    -fx-border-width: 0 0 1 0;
}

.tableD .button-cell {
    -fx-alignment: CENTER_RIGHT;
    -fx-padding: 0 5 0 0;
}

.tableD .button-cell .toggle-button {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: #121212;
    -fx-cursor: hand;
}

.tableD .button-cell .toggle-button:hover {
    -fx-background-color: #191919;
}

/* Стили для горизонтального и вертикального скроллбара */
.tableD .scroll-bar {
    -fx-background-color: transparent;
}

.tableD .scroll-bar:vertical .increment-button,
.tableD .scroll-bar:vertical .decrement-button,
.tableD .scroll-bar:horizontal .increment-button,
.tableD .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.tableD .scroll-bar:horizontal .increment-arrow,
.tableD .scroll-bar:horizontal .decrement-arrow,
.tableD .scroll-bar:vertical .increment-arrow,
.tableD .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

/* Стили для ползунка скроллбара */
.tableD .scroll-bar .thumb {
    -fx-background-color: #242424;
    -fx-background-radius: 4;
}

/* Стили для hover-эффекта ползунка */
.tableD .scroll-bar .thumb:hover {
    -fx-background-color: #191919;
}

/* Стили для трека скроллбара */
.tableD .scroll-bar .track {
    -fx-background-color: #121212;
}

/* Устанавливаем ширину вертикального скроллбара */
.tableD .scroll-bar:vertical {
    -fx-translate-x: 1;
    -fx-translate-y: 1;
    -fx-pref-width: 10;
}

/* Устанавливаем высоту горизонтального скроллбара */
.tableD .scroll-bar:horizontal {
    -fx-pref-height: 10;
}

.tableD .corner {
    -fx-background-color: transparent;
}

.editPopUp {
    -fx-background-color: #242424;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.editButton {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.editButton .label {
    -fx-font-size: 12;
    -fx-font-family: "Futura Cyrillic Book";
}

.editButton:hover {
    -fx-background-color: #3A3A3A;
}

.firstChild {
    -fx-background-radius: 8 8 0 0;
    -fx-border-radius: 8 8 0 0;
}

.secondChild {
    -fx-background-radius: 0 0 8 8;
    -fx-border-radius: 0 0 8 8;
}

.singleChild {
    -fx-background-radius: 8;
    -fx-border-radius: 8;
}

.textfield-form {
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-prompt-text-fill: #3D3D3D;
    -fx-text-fill: white;
}
.textfield-form:focused {
    -fx-border-color: #888888;
}

.textfield-desc {
    -fx-text-fill: #3D3D3D;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
}
.save-button {
    -fx-background-color: #FF9858;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-text-fill: black;
    -fx-cursor: hand;
}
.text-field-with-button .toggle-button {
    -fx-background-color: transparent;
}

.text-field-list-view {
    -fx-background-color: #121212;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.text-field-list-view .scroll-bar {
    -fx-background-color: transparent; /* Фон прокрутки */
}

.text-field-list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #3D3D3D; /* Цвет бегунка в горизонтальном ScrollBar */
    -fx-background-radius: 6;      /* Радиус бегунка */
}

.text-field-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3D3D3D; /* Цвет бегунка в вертикальном ScrollBar */
    -fx-background-radius: 6;
}

.text-field-list-view .scroll-bar .increment-button,
.text-field-list-view .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.text-field-list-view .scroll-bar .increment-arrow,
.text-field-list-view .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}

.text-field-list-view .scroll-bar .track {
    -fx-background-color: transparent; /* Цвет фона трека */
}

.text-field-list-view .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-padding: 5 0 5 0;
}

.text-field-list-view-cell {
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 7;
    -fx-cursor: hand;
}

.text-field-list-view-cell:hover {
    -fx-background-color: #1c1c1c;
}

.text-field-list-view-cell:empty {
    -fx-background-color: transparent; /* Убираем фон при наведении */
    -fx-cursor: default; /* Сбрасываем курсор */
}

.text-field-list-first-item {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.text-field-list-last-item {
    -fx-border-radius: 12;
    -fx-background-radius: 12;
}

.combo-box-field {
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-prompt-text-fill: #3D3D3D;
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.combo-box-field:hover {
    -fx-background-color: transparent;
}

.combo-box-field:focused {
    -fx-border-color: #888888;
}

.combo-box-field .combo-box-popup .list-view {
    -fx-background-color: transparent;
}

.combo-box-field .combo-box-popup .list-view {
    -fx-translate-y: 7;
    -fx-translate-x: -1;
}

.combo-box-field .list-cell {
    -fx-background-color: transparent;
}

.combo-box-field .cell:hover {
    -fx-background-color: #1c1c1c;
}

.combo-box-field .cell {
    -fx-background-color: #121212;
    -fx-padding: 7 0 7 19;
    -fx-cursor: hand;
}

/* Стилизация стрелки раскрытия */
.combo-box-field .arrow {
    -fx-background-color: transparent;
}

.date-picker {
    -fx-background-color: transparent; /* Темный фон поля ввода */
    -fx-text-fill: white; /* Белый цвет текста */
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
}

.date-picker .text-field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-prompt-text-fill: #3D3D3D;
    -fx-text-fill: white;

}

.date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: transparent; /* Цвет стрелки */
}

.search-field-d .auto-completion-label {
    -fx-text-fill: #3D3D3D;
}

.search-field-list-view {
    -fx-background-color: rgba(255, 255, 255, 0.95); /* Цвет фона с прозрачностью */
    -fx-background-insets: 0, 1;
    -fx-background-radius: 12; /* Скругления углов */
    -fx-border-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 12, 0.0, 0, 8); /* Тень */
    -fx-pref-height: 200;
}

.search-field-popup {
    -fx-background-color: transparent; /* Чтобы фон popup не перекрывал стиль списка */
}


.search-field-list-view {
    -fx-background-color: #121212;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-padding: 0;
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-translate-y: 8;
}

.search-field-list-view .scroll-bar {
    -fx-background-color: transparent; /* Фон прокрутки */
}

.search-field-list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #3D3D3D; /* Цвет бегунка в горизонтальном ScrollBar */
    -fx-background-radius: 6;      /* Радиус бегунка */
}

.search-field-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #3D3D3D; /* Цвет бегунка в вертикальном ScrollBar */
    -fx-background-radius: 6;
}

.search-field-list-view .scroll-bar .increment-button,
.search-field-list-view .scroll-bar .decrement-button {
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.search-field-list-view .scroll-bar .increment-arrow,
.search-field-list-view .scroll-bar .decrement-arrow {
    -fx-background-color: transparent;
}

.search-field-list-view .scroll-bar .track {
    -fx-background-color: transparent; /* Цвет фона трека */
}

.search-field-list-view .scroll-bar:vertical {
    -fx-pref-width: 8;
    -fx-padding: 5 0 5 0;
}

.search-field-list-view .search-field-list-cell {
    -fx-pref-height: 40;
    -fx-background-color: transparent;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-text-fill: white;
    -fx-label-padding: 0 0 0 7;
    -fx-cursor: hand;
}

.search-field-list-view .search-field-list-cell:hover {
    -fx-background-color: #1c1c1c;
}

.search-field-list-view .search-field-list-cell:hover .text {
    -fx-fill: white;
}

.search-field-list-view .search-field-list-cell .text {
    -fx-translate-y: 2;
    -fx-translate-x: 14;
}

.search-field-list-view .search-field-list-cell:focused .text {
    -fx-fill: white;
}

.search-field-list-view .search-field-list-cell:empty {
    -fx-background-color: transparent; /* Убираем фон при наведении */
    -fx-cursor: default; /* Сбрасываем курсор */
}

.search-field-list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: -fx-control-inner-background;
}

.search-field-list-view .search-field-list-cell .text.middle {
    -fx-underline: false;
}

.tags-field {
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color: transparent;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-border-color: #3D3D3D;
    -fx-border-width: 1;
    -fx-font-size: 20;
    -fx-font-family: "Futura Cyrillic Book";
    -fx-padding: 0 0 0 16;
}

.tags-field:contains-focus {
    -fx-border-color: #888888;
}

.tags-field > .flow-pane > .tag-view {
    -fx-font-size: 16;
    -fx-text-fill: black;
    -fx-background-color: #FF9858;
    -fx-padding: 2 8;
    -fx-background-radius: 4;
    -fx-border-radius: 4;
}
.tags-field > .flow-pane {
    -fx-hgap: 8;
}

.add-scroll-pane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

.add-scroll-pane .scroll-bar {
    -fx-background-color: transparent;
}

.add-scroll-pane .scroll-bar:vertical .increment-button,
.add-scroll-pane .scroll-bar:vertical .decrement-button,
.add-scroll-pane .scroll-bar:horizontal .increment-button,
.add-scroll-pane .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;
    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.add-scroll-pane .scroll-bar:horizontal .increment-arrow,
.add-scroll-pane .scroll-bar:horizontal .decrement-arrow,
.add-scroll-pane .scroll-bar:vertical .increment-arrow,
.add-scroll-pane .scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
}

/* Стили для ползунка скроллбара */
.add-scroll-pane .scroll-bar .thumb {
    -fx-background-color: #242424;
    -fx-background-radius: 4;
}

/* Стили для hover-эффекта ползунка */
.add-scroll-pane .scroll-bar .thumb:hover {
    -fx-background-color: #191919;
}

/* Стили для трека скроллбара */
.add-scroll-pane .scroll-bar .track {
    -fx-background-color: #121212;
}

/* Устанавливаем ширину вертикального скроллбара */
.add-scroll-pane .scroll-bar:vertical {
    -fx-translate-x: 1;
    -fx-translate-y: 1;
    -fx-pref-width: 10;
}

/* Устанавливаем высоту горизонтального скроллбара */
.add-scroll-pane .scroll-bar:horizontal {
    -fx-pref-height: 10;
}